#include <windows.h>
#define IDI_VPN_ICON 101


VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904b0"
  {
    VALUE "CompanyName",      "Wesley Atwell"
    VALUE "FileDescription",  "TrueTunnel VPN"
    VALUE "FileVersion",      "1.0.0"
    VALUE "InternalName",     "truetunnel"
    VALUE "LegalCopyright",   "Copyright (c) 2025 Wesley Atwell"
    VALUE "LegalTrademarks",  "Licensed under MIT or GPLv2 — See LICENSE"
    VALUE "OriginalFilename", "vpn.exe"
    VALUE "ProductName",      "TrueTunnel VPN"
    VALUE "ProductVersion",   "1.0.0"
  }
 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x0409, 1200
 }
}
IDI_VPN_ICON ICON "vpn.ico"
